# Log files
*.log
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

#Project
*.cproject
*.project
*CMakeLists*
*.gitignore*


# Compiled Static libraries
*.lai
*.la
*.a

*.swp

bin/*
tags

.project
.cproject
